*{
    margin: 0;
    padding: 0;
}

.thumb{
    position: absolute;
    top: 7vh;
    left: 0;
    height: 93vh;
    width: 50%;
}

.thumb li{
    list-style: none;
    position: relative;
    margin-top: 50px;
}

.thumb img{
    display: block;
    max-width: 120px;
    transition: 0.5s;
}

.thumb img:hover{
    transform: translateX(30px);
    transition: 0.5s;
}


.big-img img{
    position: absolute;
    left: 20%;
    top: 30%;
    max-width: 500px;
    max-height: 300px;
}

.content{
    position: absolute;
    cursor: col-resize;
    width: 50%;
    height: 93vh;
    right: 0;
    top: 7vh;
}

.content p{
    color: #04070F;
    font-size: 50px;
    font-weight: 700;
    text-shadow: whitesmoke;
    font-family: cursive;
    margin-left: 16%;
}

.content h1{
    font-size: 80px;
    font-weight: 600;
    font-family: cursive;
    color: black;
    text-shadow:1px 1px 1px grey;
}

.content h5{
    font-size: 22px;
    font-weight: bold;
    color: khaki;
    font-family: sans-serif;
    text-shadow: 1px 1px 1px black;
    text-transform: uppercase;
    margin-left: 10%;
}

.path{
    position: absolute;
    top: 7vh;
    left: 0;
    width: 100%;
    height: 93vh;
    background: #04070F;
    clip-path: circle(520px at left 300px); 
}

body {
    background-image: url('rrls.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }

#con{
    background-color:#04070F;
    height:6vh;
    padding-top:1%;
    text-align:center;
}

a{
  margin-left:10%;
  text-decoration: none;
  color:white;
}
h1{
  color:white;
  text-align:center;
}

#wel{
    width:20%;
    margin:auto;
    margin-top:30%;
    color:white;
}

a:hover{
  background-color:#003452;
}

#sgn:hover{
    background-color:#003452;
}

.parts{
    position: absolute;
    bottom: 10%;
    right: 5%;
    width: 55%;
  }

  .parts div{
    display: inline-block;
    position: relative;
    width: 22%;
    height: 17vh;
    overflow: hidden;
    margin-left: 2%;
  }
  
  .parts div img{
    width:100%;
  }

#price{
    font-size: 25px;
    font-weight: bold;
    color: black;
    font-family: sans-serif;
    text-shadow: 1px 1px 1px white;
    text-transform: uppercase;
    margin-left: 15%;
}