h1 {
  text-align: center;
}
body {
  background-color: #04070f;
}

#con {
  background-color: #02050a;
  height: 50px;
  padding-top: 1%;
  text-align: center;
}

a {
  margin-left: 10%;
  text-decoration: none;
  color: white;
}

#wel {
  width: 20%;
  margin: auto;
  margin-top: 30%;
  color: white;
}

a:hover {
  background-color: #003452;
}

#sgn:hover {
  background-color: #003452;
}

#log {
  text-align: center;
}
#review{
  margin-left: 10%;
  height: 150px;
  width: 70%;
}
#revi_button{
  background-color: whitesmoke;
  color:black;
  height: 35px;
  width: 90px;
  font-size: 1vw;
  border-radius: 100px;
  margin-left: 150px;
}
#reviewer_name{
  border-radius: 50px;
  margin-left: 131px;
  height: 30px;
}
#reviewer_city{
  border-radius: 50px;
  height: 30px;
}